HY3_API_KEY=REPLACE_WITH_YOUR_TOKENHUB_API_KEY
HY3_BASE_URL=https://tokenhub.tencentmaas.com/v1
HY3_MODEL=hy3
HY3_ALLOWED_ROOT=C:\ABSOLUTE\PATH\TO\YOUR\API_PROJECT
HY3_TIMEOUT=60
HY3_MAX_RETRIES=2
HY3_REASONING_EFFORT=high
